<ion-header class="ion-no-border" style="--background-color: #0042D6;" >
  
  <ion-toolbar style="--background: #0042D6; color:white">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
            <!-- <div style="margin: 20px;"> -->
                 <div *ngIf="language =='English'">
                  <form action=" " (submit)="sendEmail($event)" *ngIf="id!=10"> 
                    <div style="height: 170px; background-color: #0042D6; padding:20px; color: white;">
                      <h1 style="    font-size: 34px;font-weight: 700;
                      margin: 0px;">Send Us Your Feedback</h1>
                    <h2 style="    margin-top: 8px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;">Do you have a <span style="font-weight: 700;">suggestion </span>or <span style="font-weight: 700;">request</span> or <span style="font-weight: 700;">found some bug?</span> let us know in the field bellow.</h2>
                    </div>

                    <div>
                      <h2 style="    margin-top: 8px;padding-left: 20px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;">How was your experiance with app</h2>
                    <ion-grid style="    padding-left: 8px;
                    padding-right: 20px;">
                
                      <ion-row >
                        <ion-col class="emoji" (click)="addClass(id=1,'/assets/1.png')" [ngClass]="{'active': id === 1 }" id="1"   >
                          <img style="padding: 7px;" src="/assets/1.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=2,'/assets/2.png')" [ngClass]="{'active': id === 2 }" id="2" >
                          <img style="padding: 7px;" src="/assets/2.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=3,'/assets/3.png')" [ngClass]="{'active': id === 3 }" id="3" >
                          <img style="padding: 7px;" src="/assets/3.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=4,'/assets/4.png')" [ngClass]="{'active': id === 4 }" id="4" >
                          <img style="padding: 7px;" src="/assets/4.png" alt="">
                         
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=5,'/assets/5.png')" [ngClass]="{'active': id === 5 }" id="5" >
                          <img style="padding: 7px;" src="/assets/5.png" alt="">
                        </ion-col>
                      </ion-row>
                      </ion-grid>
                    </div>
                    <div>
                      <input  [(ngModel)]="name"  style="    width: 100%;
                       border: none;    padding: 20px; text-transform: capitalize;
    font-size: 12px;
    background: #f8f8f8;" placeholder="Your Name" required  name="user_name" (click)="noerror()">
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;" *ngIf="error" >*Required</h1>
                    <div>
                      <textarea (click)="noerror2()" [(ngModel)]="message"  style="    width: 100%;
                      height: 172px;    border: none;    padding: 20px;margin-top: 7px;
    font-size: 12px;
    background: #f8f8f8;" placeholder="Describe your expresions...." required maxlength="512" name="message"></textarea>
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;" *ngIf="error2" >*Required</h1>
    <div style="    padding: 10px 10%; " > 
      <ion-button style="    width: 100%;" [disabled]="clicked === 1" color="tertiary" (click)="sendEmail($event)" type="submit" value="Send"  >Send Feedback</ion-button>
    </div>
                  </form >
                  <form action=" " (submit)="sendEmail($event)" *ngIf="id==10"> 
                    <div style="height:121px; background-color: #0042D6; padding:20px; color: white;">
                      <h1 style="    font-size: 34px;font-weight: 700;
                      margin: 0px;">Ask Anything!</h1>
                    <h2 style="    margin-top: 8px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;"> let us know in the field bellow.</h2>
                    </div>
                    <div>
                      <!-- <h2 style="    margin-top: 8px;padding-left: 20px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;">How was your experiance with app</h2> -->
                  
                    </div>
                   <div style="    margin: 18px 18px 0;"> 
                    <div >
                      <input   style="    width: 100%;
                       border: none;    padding: 20px; text-transform: capitalize;
    font-size: 12px;
    background: #f8f8f8;" (click)="noerror()" placeholder="Your Name" required  name="user_name" [(ngModel)]="name">
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;" *ngIf="error" >*Required</h1>
    <div style=" margin-top: 8px;">
      <input  (click)="noerror3()"  style="    width: 100%;
       border: none;    padding: 20px; 
font-size: 12px;
background: #f8f8f8;" placeholder="Your Email" required  name="email" [(ngModel)]="email">

</div>
<h1 style="    margin: 0px;
font-size: 10px;
color: red;
padding-left: 23px;
padding-top: 6px;" *ngIf="error3" >*Required</h1>
                    <div>
                      <textarea   style="    width: 100%;
                      height: 172px;    border: none;    padding: 20px;margin-top: 7px;
    font-size: 12px;
    background: #f8f8f8;" (click)="noerror2()" placeholder="Describe your issue...." required maxlength="512" name="message" [(ngModel)]="message"></textarea>
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;" *ngIf="error2" >*Required</h1>
    <div style="    padding: 10px 10%;"> 
      <ion-button style="    width: 100%;" [disabled]="clicked === 1" color="tertiary" (click)="sendEmail($event)" type="submit" value="Send"  >Send</ion-button>
    </div>
                   </div>
                  </form>
                 </div>
                 <div *ngIf="language =='Marathi'">
                  <form action=" " (submit)="sendEmail($event)" *ngIf="id!=10"> 
                    <div style="height: 170px; background-color: #0042D6; padding:20px; color: white;">
                      <h1 style="    font-size: 34px;font-weight: 700;
                      margin: 0px;font-family: 'Mukta';">आम्हाला आपला अभिप्राय पाठवा</h1>
                    <h2 style="    margin-top: 8px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;font-family: 'Mukta';">
                    आपल्याकडे एखादी सूचना किंवा विनंती आहे किंवा काही बग आढळला? आम्हाला खाली फील्डमध्ये कळू द्या.
                   </h2>
                    </div>

                    <div>
                      <h2 style="    margin-top: 8px;padding-left: 20px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;font-family: 'Mukta';">अ‍ॅपचा तुमचा अनुभव कसा होता?</h2>
                    <ion-grid style="    padding-left: 8px;
                    padding-right: 20px;">
                
                      <ion-row >
                        <ion-col class="emoji" (click)="addClass(id=1,'/assets/1.png')" [ngClass]="{'active': id === 1 }" id="1"   >
                          <img style="padding: 7px;" src="/assets/1.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=2,'/assets/2.png')" [ngClass]="{'active': id === 2 }" id="2" >
                          <img style="padding: 7px;" src="/assets/2.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=3,'/assets/3.png')" [ngClass]="{'active': id === 3 }" id="3" >
                          <img style="padding: 7px;" src="/assets/3.png" alt="">
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=4,'/assets/4.png')" [ngClass]="{'active': id === 4 }" id="4" >
                          <img style="padding: 7px;" src="/assets/4.png" alt="">
                         
                        </ion-col>
                        <ion-col class="emoji" (click)="addClass(id=5,'/assets/5.png')" [ngClass]="{'active': id === 5 }" id="5" >
                          <img style="padding: 7px;" src="/assets/5.png" alt="">
                        </ion-col>
                      </ion-row>
                      </ion-grid>
                    </div>
                    <div>
                      <input  [(ngModel)]="name"  style="    width: 100%;
                       border: none;    padding: 20px; text-transform: capitalize;
    font-size: 12px;font-family: 'Mukta';
    background: #f8f8f8;" placeholder="आपले नाव" required  name="user_name" (click)="noerror()">
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;font-family: 'Mukta';
    padding-top: 6px;" *ngIf="error" >*आवश्यक</h1>
                    <div>
                      <textarea (click)="noerror2()" [(ngModel)]="message"  style="    width: 100%;
                      height: 172px;    border: none;    padding: 20px;margin-top: 7px;
    font-size: 12px;font-family: 'Mukta';
    background: #f8f8f8;" placeholder="आपल्या एक्सप्रेसन्सचे वर्णन करा ...." required maxlength="512" name="message"></textarea>
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;font-family: 'Mukta';
    padding-top: 6px;" *ngIf="error2" >*आवश्यक</h1>
    <div style="    padding: 10px 10%; " > 
      <ion-button style="    width: 100%;font-family: 'Mukta';" [disabled]="clicked === 1" color="tertiary" (click)="sendEmail($event)" type="submit" value="Send"  >अभिप्राय पाठवा</ion-button>
    </div>
                  </form >
                  <form action=" " (submit)="sendEmail($event)" *ngIf="id==10"> 
                    <div style="height:121px; background-color: #0042D6; padding:20px; color: white;">
                      <h1 style="    font-size: 34px;font-weight: 700;
                      margin: 0px;font-family: 'Mukta';">काहीही विचारा!</h1>
                    <h2 style="    margin-top: 8px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;font-family: 'Mukta';"> आम्हाला खाली फील्डमध्ये कळू द्या..</h2>
                    </div>
                    <div>
                      <!-- <h2 style="    margin-top: 8px;padding-left: 20px;
                    /* margin-top: 18px; */font-weight: 700;font-weight: 300;
                    font-size: 13px;">How was your experiance with app</h2> -->
                  
                    </div>
                   <div style="    margin: 18px 18px 0;"> 
                    <div >
                      <input   style="    width: 100%;
                       border: none;    padding: 20px; text-transform: capitalize;
    font-size: 12px;font-family: 'Mukta';
    background: #f8f8f8;" (click)="noerror()" placeholder="आपले नाव" required  name="user_name" [(ngModel)]="name">
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;font-family: 'Mukta';" *ngIf="error" >*आवश्यक</h1>
    <div style=" margin-top: 8px;">
      <input  (click)="noerror3()"  style="    width: 100%;
       border: none;    padding: 20px; 
font-size: 12px;font-family: 'Mukta';
background: #f8f8f8;" placeholder="
आपला ई - मेल" required  name="email" [(ngModel)]="email">

</div>
<h1 style="    margin: 0px;
font-size: 10px;
color: red;
padding-left: 23px;
padding-top: 6px;font-family: 'Mukta';" *ngIf="error3" >*आवश्यक</h1>
                    <div>
                      <textarea   style="    width: 100%;
                      height: 172px;    border: none;    padding: 20px;margin-top: 7px;
    font-size: 12px;
    background: #f8f8f8;font-family: 'Mukta';" (click)="noerror2()" placeholder="आपल्या समस्येचे वर्णन करा...." required maxlength="512" name="message" [(ngModel)]="message"></textarea>
      
    </div>
    <h1 style="    margin: 0px;
    font-size: 10px;
    color: red;
    padding-left: 23px;
    padding-top: 6px;font-family: 'Mukta';" *ngIf="error2" >*Required</h1>
    <div style="    padding: 10px 10%;"> 
      <ion-button style="    width: 100%;font-family: 'Mukta';" [disabled]="clicked === 1" color="tertiary" (click)="sendEmail($event)" type="submit" value="Send"  >पाठवा</ion-button>
    </div>
                   </div>
                  </form>
                 </div>
</ion-content>
