<ion-header class="ion-no-border">
  <ion-toolbar style="color: white;
  --background: linear-gradient(45deg, #02014f, #060d5d)  " >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="language=='English'">
    <div style="     background: #fcfcfc;border-radius: 8px;" >
      <img src="/assets/1.jpg" alt="" style="">
      <!-- <h1 style="margin:0px; text-align:center;font-size: 11px;" >App Version: 1.0.1</h1>  -->
    </div>
    <div style="padding: 0px 14px;">
      <h1 style="font-size: 17px;margin:0px; font-weight: 700; margin: 4px 0;background: -webkit-linear-gradient( 
        214deg
         ,#0037e5, #ff5151);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;font-size:34px">
        About 
      </h1>
     <p style="    font-size: 16px;    text-align: justify;     margin: 6px 0;    font-weight: 400;">
      LoveAkot is a latest local informative application.  LoveAkot is a mobile application developed for the people of Akot.<br><br> This will enable citizens to track and assist the people for the availability of the essential services in the Akot. <br> <br>
  While the coronavirus pandemic and changing rules and regulations by the government made it difficult to find whether the shop nearby you are open or available for the services or delivering the products or not. <br><br>
  This application is aimed to reach out to the citizens with the latest update about the power cut or shortage of water supply, detailed information about the events like health check camps, news around the city, do and don’t announcements, and media bulletins of the Akot. 
  <br><br>To stop people going outside for searching availability of the shops or service providers, we have developed a technological solution i.e. an android application.  This mobile application will allow people to contribute the information for the nearby services, such as the name of the shop, opening and closing timings, list of services, shop review.  Hence the updated and latest information is available for you. 
  Everything happening in your city will be notified on your smartphone.<br><br>
  <!-- LoveAkot app is currently available in English and we are working on Marathi languages. -->
  <br>
      <br>
      In one line LoveAkot is All-in-One app for you.
  
       
  
     </p>
     <h1 style="font-size: 34px;margin:0px; font-weight: 700; margin: 13px 0 0px;;background: -webkit-linear-gradient( 
      214deg
       ,#0037e5, #ff5151);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;    line-height: 1;    padding-bottom: 13px;">
      Meet The Developer :   
    </h1>
    
    </div>
  
    <img   src="/assets/ShaileshSawale.png" alt="">
  </div>


  <div *ngIf="language=='Marathi'">
    <div style="     background: #fcfcfc;border-radius: 8px;" >
      <img src="/assets/1.jpg" alt="" style="">
      <!-- <h1 style="margin:0px; text-align:center;font-size: 11px;" >App Version: 1.0.1</h1>  -->
    </div>
    <div style="padding: 0px 14px;" >
      <h1 style="font-size: 17px;margin:0px; font-weight: 700; margin: 4px 0;background: -webkit-linear-gradient( 
        214deg
         ,#0037e5, #ff5151);
            -webkit-background-clip: text;font-family: 'Mukta';
            -webkit-text-fill-color: transparent;font-size:34px">
       LoveAkot बद्दल 
      </h1>
     <p style="  font-family: 'Mukta';  font-size: 16px;    text-align: justify;     margin: 6px 0;    font-weight: 400;">
      LoveAkot हा एक नवीन स्थानिक माहितीपूर्ण अनुप्रयोग आहे. LoveAkot हा अकोटच्या लोकांसाठी विकसित केलेला मोबाइल अ‍ॅप्लिकेशन आहे. <br> यामुळे नागरिकांना अकोटमधील अत्यावश्यक सेवांच्या उपलब्धतेसाठी मागोवा घेण्यास व मदत करण्यास मदत होईल. <br> 
      कोरोनाव्हायरस (साथीचा रोग) सर्व देशभर (किंवा खंडभर) असलेला आणि सरकार बदलत असलेल्या नियम व कायद्यांमुळे आपण जवळचे दुकान खुले आहे की सेवेसाठी उपलब्ध आहे की उत्पादने वितरीत करीत आहेत की नाही हे शोधणे अवघड बनले आहे. <br>
      वीजपुरवठा किंवा पाणीपुरवठ्याचा तुटवडा याविषयी अद्ययावत माहिती, आरोग्य तपासणी शिबिरे, शहरातील आजूबाजूच्या बातम्या, घोषणा व करू नका अशा घोषणा यासारख्या घटनांविषयी सविस्तर माहिती व त्यासंबंधीच्या मीडिया बुलेटिनची माहिती नागरिकांपर्यंत पोचविण्याच्या उद्देशाने हा अनुप्रयोग आहे. अकोट.
      <br>  दुकाने किंवा सेवा प्रदात्यांची उपलब्धता शोधण्यासाठी लोकांना बाहेर जाण्यासाठी थांबविण्यासाठी, आम्ही एक तांत्रिक समाधान विकसित केले आहे म्हणजेच अ‍ॅन्ड्रॉइड .प्लिकेशन. हा मोबाइल अनुप्रयोग लोकांना जवळपासच्या सेवांसाठी माहितीचे योगदान देण्यास अनुमती देईल, जसे की दुकानाचे नाव, उघडणे आणि बंद करण्याची वेळ, सेवांची यादी, दुकान पुनरावलोकन. म्हणूनच आपल्यासाठी अद्ययावत आणि नवीनतम माहिती उपलब्ध आहे.
      आपल्या शहरातील सर्व काही आपल्या स्मार्टफोनवर सूचित केले जाईल. <br> 
      <!-- LoveAkot अॅप सध्या इंग्रजीमध्ये उपलब्ध आहे आणि आम्ही मराठी भाषांवर काम करत आहोत. -->
      <br>
          
          एका ओळीत आपल्यासाठी LoveAkot हा अल-इन-वन अ‍ॅप आहे.
       
  
     </p>
     <h1 style="font-size: 34px;margin:0px; font-weight: 700; margin: 13px 0 0px;;background: -webkit-linear-gradient( 
      214deg
       ,#0037e5, #ff5151);
          -webkit-background-clip: text;font-family: 'Mukta';
          -webkit-text-fill-color: transparent;    line-height: 1;    padding-bottom: 13px;">
      डेव्हलपर बद्दल :   
    </h1>
    
    </div>
    
    <img   src="/assets/ShaileshSawale.png" alt="">
  </div>
</ion-content>
