.font{
    *{
        font-family: 'Mukta';
        margin: 0px;
    }
    h2{
        font-size: 15px;
        margin: 2px 0px;
    }

    ion-slide{
      
    }
}

.font2{
    *{
        // font-family: 'Mukta';
        margin: 0px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 15px;
        margin: 2px 0px;
    }

    ion-slide{
      
    }
}