<ion-header class="ion-no-border">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="    margin: 10px;
  background: #0042d6;
  padding: 14px;border-radius: 7px;">
  <h1 style="color: white;
  margin-top: 0px; font-size: 21px;    font-size: 21px;
  line-height: 24px;
      letter-spacing: 0px;"><span style="font-weight: 700;">13 Reasons</span> why you should donate blood?</h1>
    <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>1. Reduce risk of heart attacks and liver ailment</h2>
      <p>Donating blood regularly is beneficial to prevent and reduce heart attacks and liver ailment. The risk of heart and liver related problem is caused by the iron overload in the body. Donating blood helps in maintaining the iron level in the body and thus reduce those risk.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>2. Lower the risk of cancer</h2>
      <p>Cancer is the most feared and deadly disease. Blood donation helps in lowering the risk of cancer. By donating blood regularly the iron level in the blood is balanced and the risk of cancer-related to the liver, lungs, and intestine gets lower.
      </p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>3. New blood cells</h2>
      <p>Once we donate blood, the body tries to restore the blood loss. This helps in the production of the new blood cells and maintain good health.</p>
    </li>
    <li>
      <input type="checkbox" checked> 
      <i></i>
      <h2>4. Reduced risk of hemochromatosis</h2>
      <p>Hemochromatosis is a disease that occurs due to increase in the absorption of iron by the body. Blood donation helps in reducing iron overload in the body and prevent Hemochromatosis.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>5. Maintain Weight</h2>
      <p>It is recommended to donate blood for those who are overweight. Regularly donating blood helps in weight loss and burn fat up to 650 calories.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>6. Helps prevent premature ageing.</h2>
      <p>While donating blood, you not only lose weight but it also helps in reducing stress. Stress is one of the reasons that triggers premature ageing. Blood donation helps in reducing stress on your mind and body. Also, keeps the skin tight and wrinkle-free.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>7. Speeds up healing process</h2>
      <p>The body tries to adjust to the loss of red blood the cells we donate blood, these adjustments also help in accelerating the wound healing process.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>8. Lower cholesterol level</h2>
      <p>Blood contains iron, if the iron in blood is overloaded it can increase the chances of blockage in blood vessels. Blood donation can help to reduce the amount of iron in the blood thus helps in lower cholesterol</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>9. Free Medical checkup</h2>
      <p>Every donor goes through a routine checkup prior to donation. Body temperature is checked along with blood pressure, hemoglobin and pulse. Blood is tested for 13 infectious disease like HIV, West Nile Virus, hepatitis B and C and Syphilis. It gives you a cost free quick look into your health.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>10. Live a longer life</h2>
      <p>The people who involve in the altruistic work have proven to live a longer life. Blood donation is altruistic works so it not only save lives of other but also helps you live longer and healthier.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>11. Psychological Upliftment</h2>
      <p>Beside all the heathy benefits that we obtain by donating blood, we also get the powerful benefit psychologically by helping the one in need.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>12. Blood storage</h2>
      <p>There is no other method to manufacture blood; the only way to collect blood is from the people who are willing to donate. The blood that we donate is also stored at the blood bank after their usage and used in future when needed. Some chemicals are added to it in order to preserve it for long time and use it in future when needed.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>13. Save lives</h2>
      <p>Every time we donate one pint of blood it helps save three lives, so if we donate four times in a year we end up saving 12 lives. We don’t have to be a superhero to save someone, a simple act of donating blood can also save lives.</p>
    </li>
  </ul>
  </div>
</ion-content>
