<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;--ion-background-color:rgba(14,42,119,1); color: white;">
    <ion-title  *ngIf="language=='English'" > Infromation Contribution</ion-title>
    <ion-title   *ngIf="language=='Marathi'" style=" font-family: 'Mukta';">माहितीचे योगदान</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <!-- <div class="form"  >
    <label for="image">Image File</label>
    <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
    
    <input [(ngModel)]="Title" placeholder="Title"/>
    <textarea [(ngModel)]="Description" placeholder="Deatiled Description"></textarea> 
    <input [(ngModel)]="ContName " placeholder="Contributor Name"/>
    <br/>
    <br/>
    
    <ion-button [disabled]="!Title || !Description" (click)="createNews()" style="    width: 48%;
    ">Add</ion-button>
    <ion-button type="reset"  style="    width: 48%;
    ">reset</ion-button>
    </div> -->

    <ion-content>
      <div class="container" *ngIf="language=='English'">
        <div class="column1">
            
               
                <div class="form-control">
                    <label for='username'>Name of Person/Shop*</label>
                    <input [(ngModel)]="Name" placeholder="Title" style="text-transform: capitalize;"/>
                    <small>Error message</small>
                </div>
               
                <div class="form-control">
                  <label for='username'>Mobile of Person/Shop*</label>
                  <input [(ngModel)]="Mobile" placeholder="Title"/>
                  <small>Error message</small>
              </div>
              <div class="form-control" >
                <label for='email'>Working Hours</label>
                <ion-grid fixed class="ion-no-padding">
                  <ion-row>
                    <ion-col size="5"><input  id="email" type="time" placeholder="Enter Mobile No." [(ngModel)]="startTime"></ion-col>
                    <ion-col size="2">
                      <h1 style="    font-size: 14px;    margin: 7px;text-align:center">To</h1>
                    </ion-col>
                    <ion-col size="5"><input  id="email" placeholder="Enter Mobile No." type="time" [(ngModel)]="endTime"></ion-col>
                  </ion-row>
                </ion-grid>
                
                
            </div>
            <div class="form-control">
              <label for='password'>Day off(Holiday)</label>
              <select id="cat" name="cat" type="text" [(ngModel)]="off" >
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday" >Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday" >Friday</option>
                <option value="Saturday" >Saturday</option>
              </select>
              <small>Error message</small>
          </div>
            <!-- <div class="form-control">
              <label for='email'>Day off(Holiday)</label>
              <input [(ngModel)]="off" placeholder="Off(Holiday)">
              <small>Error message</small>
              
          </div> -->
            <div class="form-control">
              <label for='email'>Address of Person/Place</label>
              <textarea [(ngModel)]="address" placeholder="Deatiled Description"></textarea> 
              <small>Error message</small>
              
          </div>
          <div class="form-control">
            <label for='email'>About Person/Place</label>
            <textarea [(ngModel)]="about" placeholder="Deatiled Description"></textarea> 
            <small>Error message</small>
            
        </div>
                <!-- <div class="form-control">
                  <label for='message'>Image of Person/Shop</label>
                  <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
                  <small>Error message</small>
              </div> -->
              <div class="form-control">
                <label for='message'>Banner Image</label>
                <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
                <h6 style="    font-size: 8px;margin: 4px;">*if no banner image available, Leave Blank</h6>
            </div>
            <div class="form-control">
              <label for='address'>Contributor's Name</label>
              <input style="text-transform: capitalize;" [(ngModel)]="ContName " placeholder="Contributor Name(Leave Blank if Dont want to share)"/>
              <small>Error message</small>
          </div>
                <button (click)="createDeatils()" [disabled]="!off||!Name || !Mobile || !startTime || !endTime || !address || !about || !ContName || Disabled  ">Submit</button>
                
        </div>
        
    
    </div>
    <div class="container" *ngIf="language=='Marathi'" >
      <div class="column1" class="marathi">
          
             
              <div class="form-control">
                  <label for='username'>
                    व्यक्तीचे / दुकानांचे नाव*</label>
                  <input [(ngModel)]="Name" placeholder="नाव" style="text-transform: capitalize;"/>
                  <small>Error message</small>
              </div>
             
              <div class="form-control">
                <label for='username'>व्यक्ती / शॉपचा मोबाइल नं.*</label>
                <input [(ngModel)]="Mobile" placeholder="मोबाइल नं."/>
                <small>Error message</small>
            </div>
            <div class="form-control" >
              <label for='email'>कामाचे तास</label>
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="5"><input  id="email" type="time" placeholder="Enter Mobile No." [(ngModel)]="startTime"></ion-col>
                  <ion-col size="2">
                    <h1 style="    font-size: 14px;    margin: 7px;text-align:center">ते</h1>
                  </ion-col>
                  <ion-col size="5"><input  id="email" placeholder="Enter Mobile No." type="time" [(ngModel)]="endTime"></ion-col>
                </ion-row>
              </ion-grid>
              
              
          </div>
          <div class="form-control">
            <label for='password'>Day off(Holiday)</label>
            <select id="cat" name="cat" type="text" [(ngModel)]="off" >
              <option value="सर्व दिवस सुरु">सर्व दिवस सुरु</option>
              <option value="रविवार">रविवार</option>
              <option value="सोमवार">सोमवार</option>
              <option value="मंगळवार" >मंगळवार</option>
              <option value="बुधवार">बुधवार</option>
              <option value="गुरुवार">गुरुवार</option>
              <option value="शुक्रवार" >शुक्रवार</option>
              <option value="शनिवार" >शनिवार</option>
            </select>
            <small>Error message</small>
        </div>
          <!-- <div class="form-control">
            <label for='email'>Day off(Holiday)</label>
            <input [(ngModel)]="off" placeholder="Off(Holiday)">
            <small>Error message</small>
            
        </div> -->
          <div class="form-control">
            <label for='email'>व्यक्तीचा / जागेचा पत्ता</label>
            <textarea [(ngModel)]="address" placeholder="जागेचा पत्ता"></textarea> 
            <small>Error message</small>
            
        </div>
        <div class="form-control">
          <label for='email'>व्यक्ती / ठिकाण बद्दल  </label>
          <textarea [(ngModel)]="about" placeholder="बद्दल"></textarea> 
          <small>Error message</small>
          
      </div>
              <!-- <div class="form-control">
                <label for='message'>Image of Person/Shop</label>
                <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
                <small>Error message</small>
            </div> -->
            <div class="form-control">
              <label for='message'>बॅनर प्रतिमा</label>
              <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
              <h6 style="    font-size: 8px;margin: 4px;">*बॅनर प्रतिमा उपलब्ध नसल्यास रिक्त सोडा.</h6>
          </div>
          <div class="form-control">
            <label for='address'>योगदानकर्त्याचे नाव</label>
            <input style="text-transform: capitalize;" [(ngModel)]="ContName " placeholder="Contributor Name(Leave Blank if Dont want to share)"/>
            <small>Error message</small>
        </div>
              <button (click)="createDeatils()" [disabled]="!off||!Name || !Mobile || !startTime || !endTime || !address || !about || !ContName || Disabled  ">सबमीट करा</button>
              
      </div>
      
  
  </div>
    <!-- <div class="footer">
      <h1 style="    margin-top: 10px;
      margin-bottom: 10px; font-size:11px ;padding: 0px 6px 0px 14px;">Leave what you don't know<span ></span></h1>
    </div>
    -->
    
 
  </ion-content>
  <!-- <div style="margin-left: 12px;
    margin-right: 12px;" *ngIf="showButtons">
  
        <ion-button color="primary" style="width: 100%;" (click)="MobileUpload()">Upload Image From Mobile</ion-button>
        <ion-button color="secondary" style="width: 100%;" (click)="internetUpload()">Give Link From Internet</ion-button>
    
    </div> -->