<ion-header class="ion-no-border">
  
  <ion-toolbar style="--background: #f4f4f4;">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content style="">

<div style=" ">
  <div style="background-color: #f4f4f4;">
   
    <img src="assets/donate_1.png" alt="" class="img">
    <ion-title style="text-align: center;margin-top: 18px;">Give The Gift of Life</ion-title>
    <ion-title style="text-align: center;font-weight: 900;
    text-align: center;
    font-size: 36px; color: #f50000;">Donate Blood</ion-title>
    <ion-title style="font-size: 12px;
    text-align: center;
    font-weight: 300;padding-bottom: 18px;">#KarKeDekhoAcchaLagtaHain</ion-title>
    </div>

  <ion-grid style="margin-top: 7px;" >
    <ion-row >
      <ion-col [routerLink]="['/blooddonation/bdcamp']">
        <img src="/assets/b2.jpg" alt="" style="border-radius: 6px;
        box-shadow: 0px 10px 28px -1px rgb(0 0 0 / 34%);">
     
           
     
      </ion-col>
      <ion-col [routerLink]="['/blooddonation/reqbd']">
        
          <img src="/assets/B1.jpg" alt="" style="border-radius: 6px;
          box-shadow: 0px 10px 28px -1px rgb(0 0 0 / 34%);">
      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [routerLink]="['/blooddonation/bddonar']"  size="6">
       
          <img src="/assets/b3.jpg" alt="" style="border-radius: 6px;
          box-shadow: 0px 10px 28px -1px rgb(0 0 0 / 34%);">
   
      </ion-col>
      <ion-col [routerLink]="['/blooddonation/bdfaq']" >
        
          <img src="/assets/b4.jpg" alt="" style="border-radius: 6px;
          box-shadow: 0px 10px 28px -1px rgb(0 0 0 / 34%);">
      
      </ion-col>
    </ion-row>
</ion-grid>  
</div>

</ion-content>

  
