<ion-content>
  <div>
    <img src="" alt="">
  </div>
  <ion-title style="    font-size: 27px;
  font-weight: 900;">Shailesh Restaurant</ion-title>
  <!-- <h1>Shailesh Restaurant</h1> -->
  <h2>Akot</h2>
  <ion-button color="primary" style="    width: 98%;
  height: 42px;">
    <ion-icon slot="start" name="call" ></ion-icon>
    Call Now
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img  src="https://www.flaticon.com/svg/vstatic/svg/4326/4326174.svg?token=exp=1615125485~hmac=067aa4dbc25fc6e4228999728d5682c3">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Address</b></h2>
        <h3>Asara Colony Akola Road,Near Trimurti Appartment Akot</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://www.flaticon.com/svg/vstatic/svg/1001/1001461.svg?token=exp=1615125923~hmac=872bdb897eb6b99e95c43fdd9efc2819">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Mobile No.</b></h2>
        <h3>+91-9511209041</h3>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-thumbnail slot="start">
        <img  src="https://www.flaticon.com/svg/vstatic/svg/4264/4264261.svg?token=exp=1615126240~hmac=95d997118ce9f31cd52520329500bc0b">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Working Hours</b></h2>
        <h3>8.00AM to 10.00 Pm, Sat off</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img  src="https://www.flaticon.com/svg/vstatic/svg/1553/1553229.svg?token=exp=1615126121~hmac=289913539ed226b6dcd4ef88b70eef52">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Working Hours</b></h2>
        <h3>May Differ</h3>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-thumbnail slot="start">
        <img  src="https://www.flaticon.com/svg/vstatic/svg/4293/4293169.svg?token=exp=1615126630~hmac=e3afe4179be288b7c45bd08a87776d5d">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Rate This</b></h2>
        <img style="max-width: 11%;     border: 1px solid grey; border-radius: 5px;" src="https://www.flaticon.com/svg/vstatic/svg/1828/1828884.svg?token=exp=1615126630~hmac=25060fc955236a108f2e83873071609b" alt="">
       &nbsp; <img style="max-width: 11%;     border: 1px solid grey; border-radius: 5px;" src="https://www.flaticon.com/svg/vstatic/svg/1828/1828884.svg?token=exp=1615126630~hmac=25060fc955236a108f2e83873071609b" alt="">
       &nbsp; <img style="max-width: 11%;     border: 1px solid grey; border-radius: 5px;" src="https://www.flaticon.com/svg/vstatic/svg/1828/1828884.svg?token=exp=1615126630~hmac=25060fc955236a108f2e83873071609b" alt="">
       &nbsp; <img style="max-width: 11%;     border: 1px solid grey; border-radius: 5px;"src="https://www.flaticon.com/svg/vstatic/svg/1828/1828884.svg?token=exp=1615126630~hmac=25060fc955236a108f2e83873071609b" alt="">
       &nbsp; <img style="max-width: 11%;     border: 1px solid grey; border-radius: 5px;" src="https://www.flaticon.com/svg/vstatic/svg/1828/1828884.svg?token=exp=1615126630~hmac=25060fc955236a108f2e83873071609b" alt="">
      </ion-label>
    </ion-item> -->
    <ion-item>
      <ion-thumbnail slot="start">
        <img  src="https://www.flaticon.com/svg/vstatic/svg/4276/4276985.svg?token=exp=1615126404~hmac=1baec3c9d7c377f6011ad07b639e07e1">
      </ion-thumbnail>
      <ion-label style="white-space: normal">
        <h2><b>Edit This Listing</b></h2>
        <h3>if You Found above Details Wrong, Then Please Request To Edit</h3>
      </ion-label>
    </ion-item>
  </ion-list> 

</ion-content>
