<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;--ion-background-color:rgba(14,42,119,1); color: white;">
    <ion-title >Add List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <!-- <div class="form"  >
    <label for="image">Image File</label>
    <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
    
    <input [(ngModel)]="Title" placeholder="Title"/>
    <textarea [(ngModel)]="Description" placeholder="Deatiled Description"></textarea> 
    <input [(ngModel)]="ContName " placeholder="Contributor Name"/>
    <br/>
    <br/>
    
    <ion-button [disabled]="!Title || !Description" (click)="createNews()" style="    width: 48%;
    ">Add</ion-button>
    <ion-button type="reset"  style="    width: 48%;
    ">reset</ion-button>
    </div> -->

    <ion-content>
      <div class="container">
        <div class="column1">
            
               
                <div class="form-control">
                    <label for='username'>Title of Category</label>
                    <input [(ngModel)]="title" placeholder="Title"/>
                    <small>Error message</small>
                </div>
                <div class="form-control">
                  <label for='username'>Image</label>
                  <input [(ngModel)]="img" placeholder="Image"/>
                  <small>Error message</small>
              </div>
                <!-- <div class="form-control">
                    <label for='password'>Blood Group Want</label>
                    <select id="cat" name="cat" type="text" [(ngModel)]="Category" >
                      <option value="A +ve">A +ve</option>
                      <option value="A -ve">A -ve</option>
                      <option value="B +ve" >B +ve</option>
                      <option value="B -ve">B -ve</option>
                      <option value="AB +ve">AB +ve</option>
                      <option value="AB -ve" >AB -ve</option>
                      <option value="O" >O</option>
                    </select>
                    <small>Error message</small>
                </div> -->
                <!-- <div class="form-control">
                    <label for='address'>Contributor's Name</label>
                    <input [(ngModel)]="ContName " placeholder="Contributor Name"/>
                    <small>Error message</small>
                </div> -->
                <!-- <div class="form-control">
                  <label for='message'>Image</label>
                  <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
                  <h6 style="    font-size: 8px;margin: 4px;">*if no image is available, Leave Blank</h6>
                  <small>Error message</small>
              </div> -->
                <button  (click)="createNews()">Submit</button>
                
        </div>
        
    
    </div>
    <!-- <div class="footer">
      <h1 style="    margin-top: 10px;
      margin-bottom: 10px; font-size:11px ;padding: 0px 6px 0px 14px;">Please,Dont Post Fake News. <span ></span></h1>
    </div> -->
   
    
 
  </ion-content>
  <!-- <div style="margin-left: 12px;
    margin-right: 12px;" *ngIf="showButtons">
  
        <ion-button color="primary" style="width: 100%;" (click)="MobileUpload()">Upload Image From Mobile</ion-button>
        <ion-button color="secondary" style="width: 100%;" (click)="internetUpload()">Give Link From Internet</ion-button>
    
    </div> -->