
h1{
    
    font-weight: 700;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color : #0e2a77;
  }
  h2{
    font-weight: 300;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #0e2a77;
  }
h3{text-transform: capitalize}

.marathi{
  *{
    font-family: 'Mukta';
  }
}
