<ion-header class="ion-no-border">
  <ion-toolbar id="new-background-color" style="color: white; ">
    <ion-title>Train From Akola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin: 11px;
    height: 300px;color: white;
    background: linear-gradient(260deg, #0042d6 0%, #002c90 100%);
    border-radius: 6px;">
        <div style="text-align: center;">
            <h1 style="font-weight: 700; ">Train Name <br><span>Train No</span></h1>
            <ion-grid>
                <ion-row>
                  <ion-col>
                   Arrive <br> 8.00AM
                  </ion-col>
                  <ion-col>
                      
                  </ion-col>
                  <ion-col>
                  Depart <br> 8.00AM
                  </ion-col>
                  
                </ion-row>
            </ion-grid>
           
        </div>

        <div> 
            <ion-grid style="text-align: center;">
            <ion-row>
              <ion-col>
               <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>S</h3></div>
              </ion-col>
              <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>M</h3></div>
              </ion-col>
              <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>T</h3></div>
              </ion-col>
              <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>W</h3></div>
            </ion-col>
            <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>T</h3></div>
            </ion-col>
            <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>F</h3></div>
            </ion-col>
            <ion-col>
                <div style="width: 100%;height: 30px; background-color: teal;    border-radius: 4px;"><h3>S</h3></div>
            </ion-col>
            </ion-row>
        </ion-grid></div>
  </div>
</ion-content>
