<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
<!--   
  <div style=" background-color: #0e2a77; padding-top: 2px;;padding-right: 0px;border-radius: 11px" class="image"> 
  
  <img src="/assets/narnala2.jpg" alt="" style="border-radius: 11px">
  
  </div> -->
  <div style="padding:13px">
    <p>Akot is a town in the Vidarbha Region and a municipal council in Akola district in the Indian state of
      Maharashtra. It was ruled by the Khawale ( Umra) Royal Family of Akot until it gained its independence.</p>
    <br>
    <p> <span style="font-weight: 300;font-size: 21px ;
        padding-bottom: 12px;">Geography <div class="line"></div></span>

      Akot is located at 21.1°N 77.06°E. It has an average elevation of 345 metres (1132 feet).[1]
    </p>
    <br>
    <p>
      <span style="font-weight: 300;font-size: 21px ;
        padding-bottom: 12px;">Demographics </span>
      According to the 2011 Indian census, Akot had a population of 92,637. Males constitute 52% of the population and
      females 48%. Akot has an average literacy rate of 70.8%, which is higher than the national average of 59.5%; 74.8%
      of the males and 66.6% of the females are literate. 15% of the population is under 6 years of age.[2]
    </p>
    <br>
    <p>
      <span style="font-weight: 300;font-size: 21px ;
    padding-bottom: 12px;"> Transport</span><br>
      Akot is connected by road to Akola, Shegaon, Telhara, Paratwada, Anjangaon, Daryapur, Murtijapur and Amravati.
      Many private bus services to Pune, Nagpur, Shirdi and Aurangabad operate daily. Akot is connected by passenger
      trains to Akola and Indore, which operate daily.[citation needed] The nearest major railway junction is Akola
      located 45 kilometres (28 mi) away, which has many roads to major cities in Maharashtra and beyond. The nearest
      international airport is Dr. Babasaheb Ambedkar International Airport at Nagpur about 242 kilometres (150 mi)
      away.[citation needed]

      Akot's railway station is on the Akola to Khandwa Railway, which opened in 196s and is operated by Hyderabad (HYB)
      Division of South Central Railway (SCR).[citation needed] After divisional adjustments in 2003, which saw the
      bifurcation of Hyderabad Division, Akot now comes under Nanded (NED) Division of SCR.[citation needed] The section
      from Akola to Khandwa passing through Akot will be upgraded in the future.[citation needed]
    </p>
    <br>
    <p>
      <span style="font-weight: 300;font-size: 21px ;;
        padding-bottom: 12px;">Places of interest</span><br>
      Narnala Fort is an Indian fort in the densely forested hills of the Melghat Tiger Reserve in the Satpura
      region.[citation needed]. Narnala fort and the surrounding area are rich in flora and fauna.[citation needed]

      Chikhaldara is also situated in the hills of Melghat Tiger Reserve; it is around 107 kilometres (66 mi) from Akot
      via Paratwada.[citation needed]

      Gajanan Maharaj Vihir(Shantivan Amrut Tirth), akoli-akolked situated near to akot city about 10–12 km apart.
    </p>
    <br>
    <p>
      <span style="font-weight: 300;font-size: 21px ;
        padding-bottom: 12px;">History</span><br>
      On 28 November 1803, the Battle of Argaon was fought near Akot between British forces under the command of
      Governor Arthur Wellesley and the forces of Maratha under Bhonsle of Nagpur during the Second Anglo-Maratha
      War.[citation needed]</p>

  </div>
</ion-content>
